* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  position: fixed;
  background: rgb(41, 66, 90);
  color: rgb(144, 211, 36);
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  position: fixed;
  left: 0;
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}
.logo {
  margin-top: 10px;
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: rgb(172, 12, 12);
  color: #ffff;
  transition: all 0.5s;
  margin-left: 5px;
}
.active {
  background: rgb(172, 12, 25);
  color: rgb(243, 239, 239);
}
.icon,
.link_text {
  font-size: 20px;
}

.hover-effect:hover {
  background-color: rgb(221, 236, 241);
  cursor: pointer;
}
